# Programa de Pós-graduação em Recursos Hídricos e Sanemento - PPGRHS
## Hidrologia

**Precipitação**

Clebson Farias

## **Questão 1.** Uma tormenta que ocorreu em Maceió entre 8 e 9 de janeiro está apresentada na tabela abaixo. Determine a chuva máxima de 1-, 2-, 3- e 6 horas deste evento.

In [1]:
time = ['1/8/2013 22:00', '1/8/2013 23:00', '1/9/2013 0:00', '1/9/2013 1:00',
        '1/9/2013 2:00', '1/9/2013 3:00', '1/9/2013 4:00', '1/9/2013 5:00', 
        '1/9/2013 6:00', '1/9/2013 7:00', '1/9/2013 8:00', '1/9/2013 9:00',
        '1/9/2013 10:00', '1/9/2013 11:00', '1/9/2013 12:00', '1/9/2013 13:00']

In [2]:
P = [0.01, 0, 0.07, 0.31, 0.32, 0.28, 0.22, 0.11, 0.07, 0.16, 0.1, 0.03, 0.03, 0.01, 0.02, 0.01]

In [3]:
import pandas as pd
dados = pd.DataFrame(P, index = time, columns = ['P'])
dados

                   P
1/8/2013 22:00  0.01
1/8/2013 23:00  0.00
1/9/2013 0:00   0.07
1/9/2013 1:00   0.31
1/9/2013 2:00   0.32
1/9/2013 3:00   0.28
1/9/2013 4:00   0.22
1/9/2013 5:00   0.11
1/9/2013 6:00   0.07
1/9/2013 7:00   0.16
1/9/2013 8:00   0.10
1/9/2013 9:00   0.03
1/9/2013 10:00  0.03
1/9/2013 11:00  0.01
1/9/2013 12:00  0.02
1/9/2013 13:00  0.01

#### Chuva máxima de 1h

In [13]:
p1max = dados.rolling(1).sum().max().values[0]
print('Precipitação máxima 1h: ', p1max)

Precipitação máxima 1h:  0.32

#### Chuva máxima de 2h

In [12]:
p2max = dados.rolling(2).sum().max().values[0]
print('Precipitação máxima 2h: ', round(p2max, 2))

Precipitação máxima 2h:  0.63

#### Chuva máxima de 3h

In [17]:
p3max = dados.rolling(3).sum().max().values[0]
print('Precipitação máxima 3h: ', round(p3max, 2))

Precipitação máxima 3h:  0.91

#### Chuva máxima de 6h

In [18]:
p6max = dados.rolling(6).sum().max().values[0]
print('Precipitação máxima 6h: ', round(p6max, 2))

Precipitação máxima 6h:  1.31