# Programa de Pós-graduação em Recursos Hídricos e Sanemento - PPGRHS
## Hidrologia

**Balanço Hídrico**

Clebson Farias

In [102]:
import pandas as pd
import numpy as np
import plotly as py
import plotly.plotly as pyplot
import plotly.graph_objs as go

In [103]:
def plotlyCredenciais(username = 'clebsonpy', apiKey = 'qBKNP6BAO2mmPsaOTGq8'):
    py.tools.set_credentials_file(username=username, api_key= apiKey)
    py.tools.set_config_file(world_readable=True, sharing='public')
plotlyCredenciais()

In [86]:
time = ["01/08/13 10:00 PM", "01/08/13 11:00 PM", "01/09/13 12:00 AM", 
        "01/09/13 01:00 AM", "01/09/13 02:00 AM", "01/09/13 03:00 AM", 
        "01/09/13 04:00 AM", "01/09/13 05:00 AM", "01/09/13 06:00 AM",
        "01/09/13 07:00 AM", "01/09/13 08:00 AM", "01/09/13 09:00 AM",
        "01/09/13 10:00 AM", "01/09/13 11:00 AM", "01/09/13 12:00 PM",
        "01/09/13 01:00 PM", "01/09/13 02:00 PM", "01/09/13 03:00 PM",
        "01/09/13 04:00 PM", "01/09/13 05:00 PM", "01/09/13 06:00 PM",
        "01/09/13 07:00 PM", "01/09/13 08:00 PM", "01/09/13 09:00 PM", 
        "01/09/13 10:00 PM", "01/09/13 11:00 PM", "01/10/13 12:00 AM", 
        "01/10/13 01:00 AM", "01/10/13 02:00 AM", "01/10/13 03:00 AM",
        "01/10/13 04:00 AM", "01/10/13 05:00 AM", "01/10/13 06:00 AM",
        "01/10/13 07:00 AM", "01/10/13 08:00 AM", "01/10/13 09:00 AM",
        "01/10/13 10:00 AM", "01/10/13 11:00 AM", "01/10/13 12:00 PM"]
len(time)

39

In [87]:
precipitacao = [0.3, 0.0, 1.8, 7.9, 8.1, 7.1, 5.6, 2.8, 1.8, 4.1, 2.5, 0.8, 0.8, 0.3, 0.5, 0.3, 0.0,
                0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                0.0, 0.0, 0.0, 0.0, 0.0]
len(precipitacao)

39

In [88]:
vazao = [0.048, 0.095, 0.109, 0.616, 0.700, 12.292, 10.528, 8.960, 5.880, 5.068, 
         4.396, 5.572, 3.808, 2.940, 2.772, 2.128, 1.456, 1.260, 1.008, 0.868, 0.756, 
         0.644, 0.560, 0.504, 0.448, 0.392, 0.336, 0.336, 0.308, 0.269, 0.241, 0.216,
         0.193, 0.174, 0.160, 0.148, 0.129, 0.129, 0.115]
len(vazao)

39

#### Dados de precipitação e vazão de uma estação telemétrica para um evento de chuva são mostrado na tabela abaixo.

In [89]:
dados = {"P": precipitacao, "Q": vazao}
dados = pd.DataFrame(dados, index=time)
area = 31.82
dados.head()

                     P      Q
01/08/13 10:00 PM  0.3  0.048
01/08/13 11:00 PM  0.0  0.095
01/09/13 12:00 AM  1.8  0.109
01/09/13 01:00 AM  7.9  0.616
01/09/13 02:00 AM  8.1  0.700

#### Mostre como a distribuição de armazenamento se dará assumindo que a bacia passou por um longo período de estiagem antes deste evento(ou seja, **armazenamento inicial é zero**).

#### **Variação de armazenamento**

In [90]:
def armazenamento(dados, so, area):
    fator = 3.6
    s = pd.DataFrame(so + dados.P - ((dados.Q/area) * 3.6), columns=["S"])
    
    return dados.combine_first(s)

dados = armazenamento(dados, 0, area)

#### **Armazenamento Acumulado**

In [91]:
def armazenamento_acumulado(dados):
    s_a = pd.Series(dados.S.cumsum(), name="S_A")
    
    return dados.combine_first(pd.DataFrame(s_a))

dados = armazenamento_acumulado(dados)

In [92]:
dados.head(5)

                     P      Q         S        S_A
01/08/13 10:00 PM  0.3  0.048  0.294569   0.294569
01/08/13 11:00 PM  0.0  0.095 -0.010748   0.283821
01/09/13 12:00 AM  1.8  0.109  1.787668   2.071490
01/09/13 01:00 AM  7.9  0.616  7.830308   9.901798
01/09/13 02:00 AM  8.1  0.700  8.020805  17.922602

### Gráfico variação de armazenamento e armazenamento acumulado:

In [109]:
traceS = go.Scatter(
    x = dados.index,
    y = dados.S,
    name = "Variação"
)
traceA = go.Scatter(
    x = dados.index,
    y = dados.S_A,
    name = "Acumulada"
)

data = [traceS, traceA]
pyplot.iplot(data)

#### **Total Precipitado e escoado!**

In [73]:
total_P = dados.P.sum()
total_Q = dados.Q.sum()
print("Total Precipitado:", total_P)
print("Total Escoado:", total_Q)

Total Precipitado: 44.7
Total Escoado: 76.562